<h1>Créditos</h1>

<a href="https://github.com/jorgeruizm">Enlace github</a>

<p>
    Esta práctica ha sido desarrollada por Jorge Ruiz Moliner y Ricardo Manzanedo González.
</p>

<img src="/images/jorge.jpg" />
<img src="/images/ricardo.jpg" />

