<h1>Ayuda</h1>

<p>Un quiz es un tipo de juego de mente, concurso o competencia de preguntas en el cual los jugadores intentan responder en forma correcta una serie de preguntas. Se responde escribiendo la respuesta en la barra de texto y clickando en comprobar. El objetivo es aprender a crear aplicaciones web.
